@use "../../stylesheets/normal-color.scss" as normal;

* {
  box-sizing: border-box;
}

.page-container {
  width: 100%;
  height: 100%;
  padding: 70px 24px 80px 24px;
  background-color: normal.$bgColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
  }
  .test {
    font-size: 30px;
  }

  .cards {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .buttons {
    margin-top: 24px;
    width: 327px;
    display: flex;
    gap: 13px;

    button {
      width: 157px;
      height: 46px;
      border: 2px solid normal.$buttonBorderColor;
      border-radius: 8px;
      background-color: normal.$buttonBgColor;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;


      &:hover {
        cursor: pointer;
      }

      span {
        color: normal.$textColor;
        font-size: 22px;
      }
    }
  }
}
