html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

app-root {
  display: block;
  width: 100%;
  max-width: 1000px;
  min-width: 375px;
  height: 100%;
  min-height: 580px;
  max-height: 900px;
}

* {
  font-family: "Noto Sans JP";
}

:host ::ng-deep button:focus,
:host ::ng-deep button:focus-visible,
:host ::ng-deep button:active {
  outline: none !important;
  box-shadow: none !important;
  -webkit-tap-highlight-color: transparent;
}
